* {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  /*transition: all 0.3s ease;*/
}

body {
	margin:0;
	padding:0;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight: 300;
	font-size: 14px;
  color: #000;
  background: url(../images/header.jpeg);
}
h1, h2, h3 {
  font-weight: 300;
  margin: 0;
}
span {
  opacity: 0.5;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 1;
}

.common_heading {
  display: block;
  background: #564634;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #BAADA0;
}

.flex_parent_level1 {
  max-width: 1170px;
  margin: 0 auto;
  border-top: solid 5px #BCE623;
}

.flex_child_level1 {
  flex: 0 0 auto;
  position: relative;
}
.flex_child_level1:before {
  content: attr(data-label);
  display: block;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 11px;
  font-weight: bold;
  position: absolute;
  right: 0;
  top: 0;
  background: #9fcb00;
  color: #fff;
  border-radius: 50%;
  z-index: 100
}

.aside1 {
  background-color: #fff;
}
.aside2 {
  background-color: #FCB4E6;
  color: #fff;
}
.aside3 {
  background-color: #F1F1E6;
}
.aside4 {
  background-color: #fff;
}
.aside5 {
  background-color: #F1F1E6;
}
.aside6 {
  background-color: #e5d7bb;
}
.aside7 {
  background-color: #fff;
}




.aside1,
.aside2,
.aside6,
.aside7 {
  flex-basis: 100%;
}
.aside3,
.aside5 {
  flex-basis: 200px;
  min-height: 600px;
}
.aside4 {
  flex-basis: calc(100% - 200px);
}
.product_listing {
  margin: 10px 0;
  padding: 0;
  list-style: none;

}


.product_listing li {
  display: block;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  width: 200px;
  height: 300px;
  align-items: flex-start;
  margin:10px;
  position: relative;
}
.product_listing li:before {
  content: "";
  display: block;
  background: #F1F1E6;
  height: 150px;
}
.product_listing li:after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #F1F1E6;
  background: #a19677;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -25px 0 0 -25px;
}

.header {
  padding: 10px;
}
.header .logo {
  padding: 10px;
}
.header .menu {
  display: none;
}
.header .menu a {
  display: inline-block;
  width: 20px;
  height: 10px;
  border: solid transparent;
  border-width: 10px 10px 0 10px;
  border-top-color: #564634;
}

.navigation {
  margin: 0;
  padding: 0;
  list-style: none;
}
.navigation > li {
  position: relative;
}
.navigation > li > a {
  display: block;
  padding: 5px 20px;
  color: #564634;
  text-decoration: none;
}
.navigation > li:hover > a {
  background-color: #564634;
  color: #fff;
}
.navigation > li > ul {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  z-index: 11;
  right: 0;
  top: 100%;
  background-color: #564634;
}
.navigation > li:hover > ul {
  display: block;
}
.navigation > li > ul > li {
  display: block;
  width: 200px;
}
.navigation > li > ul > li > a {
  display: block;
  background-color: #564634;
  color: #fff;
  text-decoration: none;
  padding: 5px 15px;
}
.navigation > li > ul > li > a:hover {
  background-color: #F1F1E6;
  color: #564634;
}



.main_banner {
  background-color: #fff;
}
.main_banner img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.left_links,
.right_links {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}
.left_links li,
.right_links li {
  display: block;
  border-bottom: solid 1px rgba(0,0,0,0.1);
}
.left_links li a,
.right_links li a {
  display: block;
  padding: 10px 15px;
  border-left: solid 3px #a19677;
  color: #564634;
  font-size: 11px;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  font-weight: 400;
  text-decoration: none;
}
.left_links li a:hover,
.right_links li a:hover {
  background-color: #fff;
  border-color: #bce623;
  color: #000;
}
.right_links li a{
  background-color: #fff;
  border-color: #bce623;
  color: #000;
}
.right_links li a:hover{
  color: #bce623;
  border-color: #a19677;
}


.footer {
  padding: 20px;
  color: #6b5f53;
}

.footer_banners .item {
  padding: 10px;
}

.footer_banners .item img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .header .menu {
    display: block;
  }

  .navigation > li > ul {
    display: block;
    position: static;
    background: #fff;
    padding-left: 20px;
    width: auto;
  }
  .navigation > li > ul > li {
    width: auto;
  }
  .navigation > li:hover > a {
    color: #000;
    background-color: #fff;
  }
  .navigation > li > ul > li > a {
    color: #000;
    background-color: #fff;
  }
  .nav_area {
    padding: 0;
  }
  .footer {
    border-top: solid 5px #F1F1E6;
  }
}

